@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    background-color: #341948;
    margin: 0;
}

.navbar{
    /* margin-top: 0; */
    background-color: #170B3B;
    overflow: hidden;
    padding: 10px;
    padding-left: 40px;
}

.title{
    color: white;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

.dashBoard{
    margin: 30px 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Montserrat', sans-serif;
    color: white
    
}

.box1{
    background-color: #3E2C5B;
    padding-left: 30px;
    width: 250px;
    border-radius: 14px;
}

.box1title{
    font-size: 16px;
    margin-bottom: 0;
}

.box1value{
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
}

.lottery{
    background-color: #3E2C5B;
    margin: 30px 80px;
    padding: 1px 20px;
}

h1{
    color: white;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

.drawsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
}

.draw{
    width: 300px;
    background-color: 341948;
    color: white;
}